<!DOCTYPE html>


<html>
	<head>
		<meta charset="utf-8"> 
		<title>個人資料</title>
	</head>
	
	<body>
		<h1>&nbsp個人資料</h1>

	<ul>
		<li><h2> 姓名： 邱漢淵 </h2></li>
			<h3> &nbsp 班級： 四機四乙 		</h3>
			<h3> &nbsp 學號： 1106103229 	</h3>
			<p> &nbsp 就讀學校是 <a href = "https://www.nkust.edu.tw/">國立高雄科技大學	</a> </p>
			<p> &nbsp 科系是 	 <a href = "http://me.nkust.edu.tw/">機械工程系			</a></p>

		<li>	<h3> 畢業學校： </h3></li>

		<ol type="i">
			<li><p> &nbsp 畢業高中是  		<a href = "http://www.ptivs.tn.edu.tw/">國立台南高工	</a></p></li>
			<li><p> &nbsp 畢業國中是台南市 	<a href = "https://www.hsjh.tn.edu.tw/">和順國中		</a></p></li>
			<li><p> &nbsp 畢業國小是台南市 	<a href = "https://www.hses.tn.edu.tw/">和順國小		</a></p></li>
		</ol>


		<li><h3> 休閒興趣：</h3> <p> &nbsp 做手做，組裝，聽音樂，寫程式</p></li>
		<li><h3> 座右銘：</h3> <p> &nbsp 我的字典裡沒有不可能</p></li>
		
		
		<li><h3> 技能證照：</h3></li>
		<ol type="i">
			<li><p> &nbsp 機械加工丙級</p></li>
			<li><p> &nbsp 車床丙級 </p></li>
			<li><p> &nbsp 機械工程師初級 </p></li>
			<li><p> &nbsp 通過 AutoCAD Certified Professional Exam </p></li>
		</ol>
	</ul>
		
	</body>
</html>